body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Oswald", sans-serif; }

.container {
  width: 1000px;
  margin: 0 auto;
  overflow: auto; }

nav {
  padding: 5px;
  text-align: center; }
  nav img {
    display: inline-block;
    vertical-align: middle; }
  nav menu {
    display: inline-block;
    vertical-align: middle; }
    nav menu a {
      color: #9946a4;
      text-decoration: inherit;
      margin-right: 80px; }
      nav menu a:hover {
        color: #b94ac4; }

header {
  height: 450px;
  background: url("imgs/porto-background.jpg");
  background-position: center;
  background-size: 1920px auto;
  color: white; }
  header .wrapper {
    background-color: rgba(84, 24, 104, 0.7);
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
    font-weight: lighter; }
    header .wrapper .container {
      display: table-cell;
      vertical-align: middle; }
    header .wrapper h1 {
      margin: 0;
      font-size: 4em;
      font-weight: bold; }
    header .wrapper button {
      margin-top: 40px; }

.bt {
  border: none;
  cursor: pointer; }

.bt-big {
  font-size: 1.4em;
  padding: 0.5em 1em; }

.bt-white {
  color: white;
  border: solid 1px white;
  background: none; }
  .bt-white:hover {
    background: rgba(255, 255, 255, 0.1); }

.box {
  text-align: center;
  font-weight: lighter;
  color: #a7abae;
  padding: 80px 0; }
  .box.gray {
    background: #fbfbfb; }
  .box h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: #9946a4; }

footer {
  background: #9946a4;
  height: 300px; }
  footer h1 {
    color: white !important; }
